= simple_form_for @recipe, html: { multipart: true } do |f|
	- if @recipe.errors.any?
		#errors
			%p
				= @recipe.errors.count
				Prevented this recipe froms saving
			%ul
				- @recipe.errors.full_messages.each do |msg|
					%li= msg
	.panel-body
		= f.input :title, input_html: { class: 'form-control' }
		= f.input :description, input_html: { class: 'form-control' }
		= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Sélectionner une catégorie"}
		%h2{:style => "margin-top: 60px"} Informations et astuces 
		%h5 Ajouter au moins une information ou une astuce, vous pourrez en créer d'autres une fois le thème enregistré.
		%h3{:style => "margin-top: 60px"} Informations
		= f.simple_fields_for @info do |i|
			= i.input :title, input_html: { class: "form-input form-control", :style => "margin-bottom:10px"}
			= i.input :url, input_html: { class: "form-input form-control", :style => "margin-bottom:10px"}
		%h3 Astuces
		= f.simple_fields_for @direction do |d|
			= d.input :title, input_html: { class: "form-input form-control", :style => "margin-bottom:10px"}
			= d.input :url, input_html: { class: "form-input form-control", :style => "margin-bottom:10px"}
			%p or
			= d.input :step, input_html: { class: "form-input form-control", :style => "margin-bottom:10px"}
		
	.panel-footer
		= f.button :submit, value:"Créer un thème", class: "btn btn-default"