.row#themetitle_show
	.row
		#recipe_info
			%p= @recipe.title
		#description
			%p= @recipe.description
	.row
		= social_share(@recipe.title, recipe_path(@recipe), services: [:facebook, :twitter, :google_plus, :reddit])
	
.row#buttonscol
	.col-md-6.col-xs-6#infocol
		%a.ls_title#infocol_a{:href => "javascript:showonlyone('informationslist', 'infocol_a');"} Informations
	.col-md-6.col-xs-6#astucescol
		%a.ls_title#astucescol_a{:href => "javascript:showonlyone('directionslist', 'astucescol_a');"} Astuces

.row#infodirlists
	.lists#informationslist
		%ul
			- @information_all.order(:cached_votes_up).reverse.each do |information|
				%div.row#infocontreinfo
					%div.col-md-1#votes 
						%p Vote
						= information.get_upvotes.size
						= link_to "", upvote_info_path(information.id), class: "glyphicon glyphicon-thumbs-up"
						= link_to "", downvote_info_path(information.id), class: "glyphicon glyphicon-thumbs-down"

					%div.col-md-10#info
						%div#linkinfo
							= link_to "#{information.title}", "#{information.url}", target: :_blank
							- if user_signed_in?
								- if current_user.id == information.user_id
									= link_to "", delete_info_path(information.id), class: "glyphicon glyphicon-remove", method: :delete
							%div#contrelien
								- information.contrelien.each do |contre|
									%ul
										%li
											= link_to "#{contre.title}", "#{contre.url}", target: :_blank
											- if user_signed_in?
												- if current_user.id == contre.user_id
													= link_to "", delete_contreinfo_path(contre.id), class: "glyphicon glyphicon-remove", method: :delete
								.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :class => "#{information.id}", :role => "dialog", :tabindex => "-1"}
									.modal-dialog.modal-sm
										.modal-content
											%p Ajouter un "contrelien" vous permet de contredire une information
											= form_for @contrelien, url: add_contreinfo_path(information.id) do |c|
												%p= c.text_field 'title', placeholder: 'ajouter un titre'
												%p= c.text_field 'url', placeholder: 'ajouter une url'
												%p= button_to "AJOUTER"
						
					%div.col-md-1#contrebutton{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Cliquer ici pour contredire cette information", :type => "button"}
						%p Contre
						.button.i.fa.fa-ban{"data-target" => ".#{information.id}", "data-toggle" => "modal", :type => "button"}	

					
		%div#addshow
			%a.btn#add_button{"aria-controls" => "addonshowinfo", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#addonshowinfo"}
				Ajouter une information
			#addonshowinfo.collapse
				.well#addonshowcollapsed
					= form_for @info, url: add_info_recipe_path do |f|
						%p= f.text_field 'title', placeholder:'Ajouter un titre'
						%p= f.text_field 'url', placeholder:'Ajouter une url'
						%p= button_to "Ajouter une information"

	.lists#directionslist
		%ul
			- @direction_all.each do |direction|
				%div.row#tips
					%div.col-md-1#votes
						%p Vote
						= direction.get_upvotes.size
						= link_to "", upvote_direction_path(direction.id), class: "glyphicon glyphicon-thumbs-up"
						= link_to "", downvote_direction_path(direction.id), class: "glyphicon glyphicon-thumbs-down"
					%div.col-md-11#step
						- unless direction.title.blank?
							= link_to "#{direction.title}", "#{direction.url}", target: :_blank
						- else
							= direction.step
					- if user_signed_in?
						- if current_user.id == direction.user_id
							= link_to "", delete_direction_path(direction.id), class: "glyphicon glyphicon-remove", method: :delete
					
				%br
		%div#addshow	
			%a.btn#add_button{"aria-controls" => "addonshowdirection", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#addonshowdirection"}
				Add an astuce
			#addonshowdirection.collapse
				.well#addonshowcollapsed
					= form_for @direction, url: add_direction_recipe_path do |f|
						%p= f.text_field 'title', placeholder:'Add title'
						%p= f.text_field 'url', placeholder:'Add url'
						%p= f.text_field 'step', placeholder:'Add text'
						%p= button_to "Add astuces"
	#modalcategories.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} ×
					%h4#myModalLabel.modal-title Categories
				.modal-body
					%div#categorieslist
						- Category.all.each do |category|
							%h2= link_to category.name, recipes_path(category: category.name)
				.modal-footer
					.wide_wrapper
						%nav.navigation
							/ %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :target => "_blank", :title => "FAQ"}
							/ 	%i.fa.fa-question.fa-2x
							%a{"data-placement" => "top", "data-toggle" => "tooltip", :onclick => "myFace()", :target => "_blank", :title => "Share infos !"}
								%i.fa.fa-facebook-square.fa-2x.click
							%a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "https://monolok.github.io/online", :target => "_blank", :title => "Meet the developer"}
								%i.fa.fa-github.fa-2x
							/ %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :target => "_blank", :title => "Donate BTC !"}
							/ 	%i.fa.fa-btc.fa-2x
							%a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "mailto:jeanhuguesbc@hotmail.com", :title => "Say hi !"}
								%i.fa.fa-paper-plane.fa-2x
						.pad-left-footer
							%i.fa.fa-copyright
						.pad-left-footer StaskStact
						.pad-left-footer= Time.now.year

#backedit
	= link_to "Back", root_path, class: "btn btn-default"
	- if user_signed_in?
		- if current_user.id == @recipe.user_id
			= link_to "Edit", edit_recipe_path, class: "btn btn-default"
			= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"